---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact"
	description="Contact information for the Reinventor-1 project"
	pubDate={new Date('February 09 2026')}
	heroImage="/reinventor-1_logo.png"
>
	<p>
		<b>Have a question or want to learn more?</b>
</p><p>
Whether you’re curious about the Reinventor‑1 mission, interested in what’s being explored on orbit, or have a general question about the platform, reach out using the contact form below.</br>

We welcome inquiries related to the mission, public information on experiments, and general interest in the platform. Messages are reviewed by the Reinventor‑1 team, and we’ll respond where appropriate.
	</p>

	
</Layout>
