---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Accenture - Reinvention-1. &nbsp; &nbsp; | &nbsp; &nbsp; All rights reserved. &nbsp; &nbsp; | &nbsp; &nbsp; 
		<a href="https://dash.cloudflare.com/a995d6d55f24d71ae66a417742032a40/home/domains" target="_blank">
			Login</a>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		font-size: 12px;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
